{
  "presets": [
		"airbnb",
		"@babel/env",
    [
			"@babel/preset-react",
			{
				"runtime": "automatic"
			}
		],
		"@babel/preset-typescript",
		"babel-preset-vite"
	]
	//"plugins": [
	//	"@babel/plugin-proposal-class-properties"
	//]
}
