{
  "presets": [
		["airbnb"],
		["@svgr/babel-preset"],
		[
			"@babel/env",
			{
				"targets": {
					"browsers": [
						">= 2%, not dead",
						"last 2 chrome versions, not dead",
						"last 2 edge versions, not dead",
						"last 2 safari versions, not dead",
						"last 1 firefox versions, not dead",
						"node >= 19"
					]
				}
			}
		],
		[
			"@babel/preset-react",
			{
				"runtime": "automatic"
			}
		],
		["@babel/preset-typescript"],
		["babel-preset-vite"]
	],
	"plugins": [
		["@svgr/babel-plugin-transform-svg-component", { "titleProp": true }],
		// ["@svgr/babel-plugin-svg-em-dimensions", { "width": 24, "height": 24 }],
		"inline-react-svg"
	//	"@babel/plugin-proposal-class-properties"
	],
	"env": {
		"development": {
			"compact": false
		}
	}
}
