# EditorConfig is awesome: https://EditorConfig.org
# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8

[*.sh]
indent_style = tab
indent_size = 2
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.env]
indent_style = space
indent_size = 2
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.conf|*.options|*.local]
indent_style = space
indent_size = 2
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.yml]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.json]
indent_style = tab
indent_size = 2
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.css]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.txt]
indent_style = space
indent_size = 2
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.log]
indent_style = space
indent_size = 2
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{js,ts,json,js,tsx,jsx}]
end_of_line = lf
charset = utf-8
max_line_length = 92
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space
indent_size = 2
tab_width = 8

[*.md]
# double whitespace at end of line
# denotes a line break in Markdown
trim_trailing_whitespace = true
insert_final_newline = true
tab_width = 4

[Makefile]
indent_style = tab
tab_width = 4

[CHANGELOG.md]
indent_size = false