{
    "printWidth": 180,
    "singleQuote": true,
    "htmlWhitespaceSensitivity": "strict",
    "trailingComma": "all",
		"useTabs": true,
		"semi": true,
    "overrides": [
        {
            "files": [
                "*.html"
            ],
            "options": {
                "parser": "html"
            }
        },
        {
            "files": [
                "*.{j,t}sx",
                "*.{j,t}s"
            ],
            "options": {
                "printWidth": 80
            }
        },
				{
					"files": [
						"*.css"
					],
					"options": {
						"parser":"css"
					}
				}
    ]
}
