{
	"printWidth": 80,
	"singleQuote": true,
	"htmlWhitespaceSensitivity": "strict",
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"quoteProps": "preserve",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"parser": "html"
			}
		},
		{
			"files": ["*.css"],
			"options": {
				"parser": "css"
			}
		},
		{
			"files": "*.properties",
			"options": {
				"printWidth": 0
			}
		},
		{
			"files": ["**/*.rs"],
			"options": {
				"printWidth": 80
			}
		}
	]
}
