/* GettingStarted.module.css */
.layout {
    min-height: 100vh; /* Cover the full viewport height */
    background-image: url('../assets/img/gettingStarted/desktop/desktop-community-1920.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    /* position: absolute; or relative */
    direction: rtl;
    padding: 8px 0px 26px;
}

.header {
    background: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;

}

.footer {
    background: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2rem;
}

.content {
    background: rgba(0, 0, 0, 0.5);
    flex: 1; /* Allow content to take up available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    /* Optional: add a semi-transparent background */
    /* padding: 50px; */
}

.h1 {
    color: white;
    font-size: 32px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    /* Center buttons horizontally */
    gap: 24px;
    /* Add space between buttons */
    margin-top: 2rem;
    /* Add margin above buttons */
}

.button {
    /* background-color: #ff18522d; */
    background-color: #1edbd8ea;
    /* Example: Ant Design primary color */
    color: rgb(82, 78, 82);
    border-color: #262625d2;
    border: none;
    padding: 18px 32px;
    /* Adjust padding as needed */
    border-radius: 12px;
    /* Add rounded corners */
    font-family: 'Noto Sans Hebrew bold', sans-serif;
    font-size: 24px;
    /* Adjust font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}

.card {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #ed3e840f;
    border-color: #8d8d89d2;
    margin: 8px;
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 18px;
    justify-content: space-between;
}

/* Media Queries for Responsiveness */
@media (min-width: 375px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/mobile/mobile-tractor-375.jpeg') !important;
        /* Small background */
    }
}

@media (min-width: 390px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/mobile/mobile-tractor-390.jpeg') !important;
        /* Small background */
    }
}

@media (min-width: 414px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/mobile/mobile-tractor-414.jpeg') !important;
        /* Small background */
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/tablet/tablet-tractor-800.jpeg') !important;
        /* Medium background */
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/tablet/tablet-tractor-800.jpeg') !important;
        /* Large background */
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/tablet/tablet-tractor-1024.jpeg') !important;
        /* Extra Large background */
    }
}

@media (min-width: 1366px) and (max-width: 1420px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/desktop/desktop-tractor-1366.jpeg') !important;
        /* Extra Large background */
    }
}

@media (min-width: 1440px) and (max-width: 1800px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/desktop/desktop-tractor-1440.jpeg') !important;
        /* Extra Large background */
    }
}

@media (min-width: 1920px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/desktop/desktop-tractor-1920.jpeg') !important;
        /* Extra Large background */
    }
}

@media (min-width: 2560px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/desktop/desktop-tractor-2560.jpeg') !important;
        /* Extra Large background */
    }
}

@media (min-width: 3840px) {
    .layout {
        background-image: url('../assets/img/gettingStarted/desktop/desktop-tractor-3840.jpeg') !important;
        /* Extra Large background */
    }
}