/* withStepper.module.css */
.layout {
    min-height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
    /* Example background color */
    display: flex;
    overflow: hidden;
    direction: rtl;
}

.header {
    background: #1890ff;
    color: white;
    text-align: center;
    padding: 1rem;
}

.footer {
    background: #001529;
    color: white;
    text-align: center;
    padding: 1rem;
}

.content {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.sider {
    background: #fff;
}

.stepper {
    margin-top: 20px;
    background: #fff;
    padding: 10px;
}