.option {
    width: 100%;
    /* border: outline; */;
    border-radius: 24px;
    /* padding: 40px; */
    font-family: 'Noto Sans Hebrew', sans-serif;
    text-align: center;
    color: white; 
} 

.select {
    width: 100%;
    font-family: 'Noto Sans Hebrew', sans-serif;
    text-align: center;
    color: white;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('/fonts/NotoSans/static/NotoSansHebrew-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('/fonts/NotoSans/static/NotoSansHebrew-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Noto Sans Hebrew', sans-serif;
}