/* VERY IMPORTANT: Some style properties can only be edited on App.css or Main.css*/
.layout {
    min-height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    direction: rtl;
    padding: 10px 0px 27px;
}

.header {
    display: flex;
    flex-direction: row;
    background: transparent;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-size: 28px;
    font-weight: 400;
    overflow: hidden;
    margin: 2px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
}

.content {
    display: flex;
    flex: 1;
    min-height: calc(30vh - 80px);
    max-height: calc(75vh - 90px);
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    padding: 12px;
    margin: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.card {
    /* max-width: 20px; */
    max-width: 100%; /* Allow cards to take up full width */
    max-height: 30%;
    max-height: -moz-fit-content;
    max-height: -webkit-fit-content;
    max-height: fit-content;
    background: rgba(255, 255, 255, 0.2);
    /* margin-bottom: 1rem; */
    border-radius: 28px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    padding: 12px;
    margin: 6px; /* Margin around the card */
    flex-grow: 1; /* Allow cards to grow and take up space */
    /* overflow-x: auto; */
    color: #ffffff; /* White text color */
    box-sizing: border-box;
}

.personalInfoCard {
    max-width: 90%;
    max-height: 90%;
    /* Allow cards to take up full width */
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    flex-grow: 1;
    /* Allow cards to grow and take up space */
    /* overflow-x: auto; */
}

h1 {
    color: #001529;
    font-size: 32px;
}

p {
    color: rgba(255, 255, 255);
    font-size: 18px;
}

button {
    margin-top: 20px;
    font-size: 18px;
}

.form {
    max-width: 680px;
    margin: 0 auto;
}

.formRow {
    display: flex;
    flex-direction: row;
    /* position: relative; */ /* NO AFFECT AFTER ADDING*/
    justify-content: space-between;
    justify-items: flex-start;
    justify-self: stretch;
    gap: 1rem;
    text-align: flex-start;
    overflow: hidden; /* NO AFFECT AFTER ADDING*/
    -moz-column-gap: 20px;
    column-gap: 20px;
    line-height: 4px;
    padding: 12px;
}

.row {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-evenly;
    justify-items: center;
}

.partnerSeniorityWrapper {
    display: flex;
    flex-direction: column;
}

.partnerSeniorityWrapper .ant-form-item {
    margin-bottom: 0;
}

/* .tableWrapper {
    overflow-x: auto;
} */

.flex {
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('/fonts/NotoSans/static/NotoSansHebrew-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('/fonts/NotoSans/static/NotoSansHebrew-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Media Queries for Responsiveness */
@media (min-width: 375px) {}

@media (min-width: 390px) {}

@media (min-width: 414px) {}

@media (min-width: 576px) and (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 400;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 20px;
        position: absolute; /* Position the header absolutely */
        top: 0; /* Position the header at the top */
        width: 100%; /* Ensure the header spans the full width */
        z-index: 1000; /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(30vh - 80px);
        max-height: calc(75vh - 90px);
        width: 40vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        padding: 12px;
        margin: 10px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 400;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 20px;
        position: absolute; /* Position the header absolutely */
        top: 0; /* Position the header at the top */
        width: 100%; /* Ensure the header spans the full width */
        z-index: 1000; /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(30vh - 80px);
        max-height: calc(75vh - 90px);
        width: 40vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        padding: 12px;
        margin: 10px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {

    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 400;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 20px;
        position: absolute; /* Position the header absolutely */
        top: 0; /* Position the header at the top */
        width: 100%; /* Ensure the header spans the full width */
        z-index: 1000; /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(30vh - 80px);
        max-height: calc(75vh - 90px);
        width: 40vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        padding: 12px;
        margin: 10px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
}

@media (min-width: 1281px) and (max-width: 1365px) {

    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 400;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 14px;
        margin-bottom: 10px;
        line-height: 20px;
        position: absolute; /* Position the header absolutely */
        top: 0; /* Position the header at the top */
        width: 100%; /* Ensure the header spans the full width */
        z-index: 1000; /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(30vh - 80px);
        max-height: calc(75vh - 90px);
        width: 40vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: center;
        padding: 10px;
        margin: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .card {
        /* max-width: 20px; */
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        /* Allow cards to take up full width */
        min-height: 50vh;
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        background: rgba(255, 255, 255, 0.2);
        /* margin-bottom: 1rem; */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        /* Subtle shadow for depth */
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(255, 255, 255, 0.3);
        /* Semi-transparent border */
        padding: 8px;
        margin: 6px;
        /* Margin around the card */
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
        color: #ffffff;
        /* White text color */
        box-sizing: border-box;
    }

    .personalInfoCard {
        max-width: 90%;
        max-height: 90%;
        /* Allow cards to take up full width */
        margin-bottom: 1rem;
        border-radius: 20px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        padding: 20px;
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
    }

    h1 {
        color: #001529;
        font-size: 30px;
    }

    p {
        color: rgba(255, 255, 255);
        font-size: 14px;
    }

    button {
        margin-top: 20px;
        font-size: 18px;
    }

    .form {
        max-width: 680px;
        margin: 0 auto;
        padding: 10px;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        /* position: relative; */
        /* NO AFFECT AFTER ADDING*/
        justify-content: space-between;
        justify-items: flex-start;
        justify-self: stretch;
        gap: 0.5rem;
        text-align: flex-start;
        overflow: hidden;
        /* NO AFFECT AFTER ADDING*/
        -moz-column-gap: 10px;
        column-gap: 10px;
        line-height: 4px;
        padding: 8px;
        font-size: 10px;
    }
}

@media (min-width: 1366px) and (max-width: 1420px) {
    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 10px;
        gap: 1%;
        position: absolute; /* Position the header absolutely */
        top: 0; /* Position the header at the top */
        width: 100%; /* Ensure the header spans the full width */
        z-index: 1000; /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(85vh - 20px);
        max-height: calc(88vh - 30px);
        height: 88vh;
        width: 1340px;
        left: 2.3%;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        justify-content: space-evenly;
        justify-items: center;
        padding: 8px;
        margin: 0 auto;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        /* Allow cards to take up full width */
        height: 22vh;
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        background: rgba(255, 255, 255, 0.2);
        /* margin-bottom: 1rem; */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        /* Subtle shadow for depth */
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(255, 255, 255, 0.3);
        /* Semi-transparent border */
        padding: 8px;
        margin: 6px;
        /* Margin around the card */
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
        color: #ffffff;
        /* White text color */
        box-sizing: border-box;
    }

    .familyInfoCard {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background: rgba(255, 255, 255, 0.2);
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        margin: 0 auto;
        flex-grow: 1;
        /* overflow-x: auto; */
        color: #ffffff;
        box-sizing: border-box;
    }

    h1 {
        color: #001529;
        font-size: 12px;
    }

    p {
        color: rgba(255, 255, 255);
        font-size: 12px;
    }

    button {
        margin-top: 20px;
        font-size: 14px;
    }

    .form {
        max-width: 31vw;
        max-height: 31vw;
        margin: 0 auto;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: flex-start;
        justify-self: stretch;
        gap: 4px;
        text-align: flex-start;
        overflow: hidden;
        -moz-column-gap: 6px;
        column-gap: 6px;
        line-height: 4px;
        padding: 6px;
    }

    .row {
        display: flex;
        flex-direction: flex-start;
        justify-content: space-evenly;
        justify-items: center;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {

    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 8px;
        margin-bottom: 10px;
        line-height: 10px;
        gap: 1%;
        position: absolute; /* Position the header absolutely */
        top: 0; /* Position the header at the top */
        width: 100%; /* Ensure the header spans the full width */
        z-index: 1000; /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(85vh - 30px);
        max-height: calc(88vh - 40px);
        height: 88vh;
        width: calc(100vw - 20px);
        left: 1%;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: space-evenly;
        justify-items: center;
        padding: 8px;
        margin: 0 auto;
        margin-bottom: 8px;
        margin-top:8px;
    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        /* Allow cards to take up full width */
        height: 22vh;
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        background: rgba(255, 255, 255, 0.2);
        /* margin-bottom: 1rem; */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        /* Subtle shadow for depth */
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(255, 255, 255, 0.3);
        /* Semi-transparent border */
        padding: 12px;
        margin: 6px;
        /* Margin around the card */
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
        color: #ffffff;
        /* White text color */
        box-sizing: border-box;
    }

    .familyInfoCard {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background: rgba(255, 255, 255, 0.2);
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        margin: 0 auto;
        flex-grow: 1;
        /* overflow-x: auto; */
        color: #ffffff;
        box-sizing: border-box;
    }

    h1 {
        color: #001529;
        font-size: 32px;
    }

    p {
        color: rgba(255, 255, 255);
        font-size: 18px;
    }

    button {
        margin-top: 20px;
        font-size: 18px;
    }

    .form {
        max-width: 31vw;
        max-height: 31vw;
        margin: 0 auto;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: flex-start;
        justify-self: stretch;
        gap: 4px;
        text-align: flex-start;
        overflow: hidden;
        -moz-column-gap: 8px;
        column-gap: 8px;
        line-height: 4px;
        padding: 6px;
    }

    .row {
        display: flex;
        flex-direction: flex-start;
        justify-content: space-evenly;
        justify-items: center;
    }
}

@media (min-width: 1441px) and (max-width: 1536px) {

    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 8px;
        margin-bottom: 10px;
        line-height: 10px;
        gap: 1%;
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Position the header at the top */
        width: 100%;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(80vh - 30px);
        max-height: calc(85vh - 40px);
        height: 85vh;
        width: calc(100vw - 28px);
        flex-direction: row;
        align-items: flex-start;
        align-content: space-between;
        justify-content: space-evenly;
        justify-items: center;
        padding: 8px;
        margin: 0 auto;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        /* Allow cards to take up full width */
        height: 22vh;
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        background: rgba(255, 255, 255, 0.2);
        /* margin-bottom: 1rem; */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        /* Subtle shadow for depth */
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(255, 255, 255, 0.3);
        /* Semi-transparent border */
        padding: 12px;
        margin: 6px;
        /* Margin around the card */
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
        color: #ffffff;
        /* White text color */
        box-sizing: border-box;
    }

    .familyInfoCard {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background: rgba(255, 255, 255, 0.2);
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        margin: 0 auto;
        flex-grow: 1;
        /* overflow-x: auto; */
        color: #ffffff;
        box-sizing: border-box;
    }

    .personalInfoCard {
        max-width: 90%;
        max-height: 90%;
        /* Allow cards to take up full width */
        margin-bottom: 1rem;
        border-radius: 20px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        padding: 20px;
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
    }

    h1 {
        color: #001529;
        font-size: 32px;
    }

    p {
        color: rgba(255, 255, 255);
        font-size: 18px;
    }

    button {
        margin-top: 20px;
        font-size: 18px;
    }

    .form {
        max-width: 31vw;
        max-height: 31vw;
        margin: 0 auto;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: flex-start;
        justify-self: stretch;
        gap: 4px;
        text-align: flex-start;
        overflow: hidden;
        -moz-column-gap: 8px;
        column-gap: 8px;
        line-height: 4px;
        padding: 6px;
    }
}

@media (min-width: 1537px) and (max-width: 1920px) {

    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 8px;
        margin-bottom: 10px;
        line-height: 10px;
        gap: 1%;
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Position the header at the top */
        width: 100%;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(80vh - 120px);
        max-height: calc(85vh - 140px);
        height: 85vh;
        width: 95vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: space-evenly;
        justify-items: center;
        padding: 14px;
        margin: 0 auto;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        /* Allow cards to take up full width */
        height: 22vh;
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        background: rgba(255, 255, 255, 0.2);
        /* margin-bottom: 1rem; */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        /* Subtle shadow for depth */
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(255, 255, 255, 0.3);
        /* Semi-transparent border */
        padding: 12px;
        margin: 8px;
        /* Margin around the card */
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
        color: #ffffff;
        /* White text color */
        box-sizing: border-box;
    }

    .familyInfoCard {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background: rgba(255, 255, 255, 0.2);
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
        margin: 0 auto;
        flex-grow: 1;
        /* overflow-x: auto; */
        color: #ffffff;
        box-sizing: border-box;
    }

    .personalInfoCard {
        max-width: 90%;
        max-height: 90%;
        /* Allow cards to take up full width */
        margin-bottom: 1rem;
        border-radius: 20px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        padding: 20px;
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
    }

    h1 {
        color: #001529;
        font-size: 32px;
    }

    p {
        color: rgba(255, 255, 255);
        font-size: 18px;
    }

    button {
        margin-top: 20px;
        font-size: 18px;
    }

    .form {
        max-width: 30vw;
        max-height: 30vw;
        margin: 0 auto;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: flex-start;
        justify-self: stretch;
        gap: 6px;
        text-align: flex-start;
        overflow: hidden;
        -moz-column-gap: 10px;
        column-gap: 10px;
        line-height: 4px;
        padding: 6px;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 500;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 10px;
        gap: 1%;
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Position the header at the top */
        width: 100%;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(80vh - 140px);
        max-height: calc(85vh - 160px);
        height: 85vh;
        width: 95vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: space-evenly;
        justify-items: center;
        padding: 14px;
        margin: 0 auto;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        /* Allow cards to take up full width */
        height: 22vh;
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        background: rgba(255, 255, 255, 0.2);
        /* margin-bottom: 1rem; */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        /* Subtle shadow for depth */
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(255, 255, 255, 0.3);
        /* Semi-transparent border */
        padding: 14px;
        margin: 8px;
        /* Margin around the card */
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
        color: #ffffff;
        /* White text color */
        box-sizing: border-box;
    }

    .familyInfoCard {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background: rgba(255, 255, 255, 0.2);
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
        margin: 0 auto;
        flex-grow: 1;
        /* overflow-x: auto; */
        color: #ffffff;
        box-sizing: border-box;
    }

    h1 {
        color: #001529;
        font-size: 32px;
    }

    p {
        color: rgba(255, 255, 255);
        font-size: 18px;
    }

    button {
        margin-top: 20px;
        font-size: 18px;
    }

    .form {
        max-width: 30vw;
        max-height: 30vw;
        margin: 0 auto;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: flex-start;
        justify-self: stretch;
        gap: 6px;
        text-align: flex-start;
        overflow: hidden;
        -moz-column-gap: 10px;
        column-gap: 10px;
        line-height: 4px;
        padding: 6px;
    }
}

@media (min-width: 2561px) and (max-width: 3840px) {

    .header {
        display: flex;
        flex-direction: column;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 500;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 10px;
        gap: 1%;
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Position the header at the top */
        width: 100%;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(80vh - 120px);
        max-height: calc(85vh - 120px);
        height: 85vh;
        width: 95vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        justify-content: center;
        padding: 18px;
        margin: 1%;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        /* Allow cards to take up full width */
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        background: rgba(255, 255, 255, 0.2);
        /* margin-bottom: 1rem; */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        /* Subtle shadow for depth */
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(255, 255, 255, 0.3);
        /* Semi-transparent border */
        padding: 12px;
        margin: 6px;
        /* Margin around the card */
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
        color: #ffffff;
        /* White text color */
        box-sizing: border-box;
    }

    .familyInfoCard {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background: rgba(255, 255, 255, 0.2);
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        margin: 0 auto;
        flex-grow: 1;
        /* overflow-x: auto; */
        color: #ffffff;
        box-sizing: border-box;
    }

    .personalInfoCard {
        max-width: 90%;
        max-height: 90%;
        /* Allow cards to take up full width */
        margin-bottom: 1rem;
        border-radius: 20px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        padding: 20px;
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
    }

    h1 {
        color: #001529;
        font-size: 32px;
    }

    p {
        color: rgba(255, 255, 255);
        font-size: 18px;
    }

    button {
        margin-top: 20px;
        font-size: 18px;
    }

    .form {
        max-width: 680px;
        margin: 0 auto;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        /* position: relative; */
        /* NO AFFECT AFTER ADDING*/
        justify-content: space-between;
        justify-items: flex-start;
        justify-self: stretch;
        gap: 1rem;
        text-align: flex-start;
        overflow: hidden;
        /* NO AFFECT AFTER ADDING*/
        -moz-column-gap: 20px;
        column-gap: 20px;
        line-height: 4px;
        padding: 12px;
    }
}

@media (min-width: 3840px) {

    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 12px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 10px;
        gap: 1%;
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Position the header at the top */
        width: 100%;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(80vh - 120px);
        max-height: calc(85vh - 120px);
        height: 85vh;
        width: 95vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        justify-content: center;
        padding: 18px;
        margin: 1%;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .card {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        /* Allow cards to take up full width */
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        background: rgba(255, 255, 255, 0.2);
        /* margin-bottom: 1rem; */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        /* Subtle shadow for depth */
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(255, 255, 255, 0.3);
        /* Semi-transparent border */
        padding: 12px;
        margin: 6px;
        /* Margin around the card */
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
        color: #ffffff;
        /* White text color */
        box-sizing: border-box;
    }

    .familyInfoCard {
        display: flex;
        flex-direction: column;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background: rgba(255, 255, 255, 0.2);
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        margin: 0 auto;
        flex-grow: 1;
        /* overflow-x: auto; */
        color: #ffffff;
        box-sizing: border-box;
    }

    .personalInfoCard {
        max-width: 90%;
        max-height: 90%;
        /* Allow cards to take up full width */
        margin-bottom: 1rem;
        border-radius: 20px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        padding: 20px;
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
    }

    h1 {
        color: #001529;
        font-size: 32px;
    }

    p {
        color: rgba(255, 255, 255);
        font-size: 18px;
    }

    button {
        margin-top: 20px;
        font-size: 18px;
    }

    .form {
        max-width: 680px;
        margin: 0 auto;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        /* position: relative; */
        /* NO AFFECT AFTER ADDING*/
        justify-content: space-between;
        justify-items: flex-start;
        justify-self: stretch;
        gap: 1rem;
        text-align: flex-start;
        overflow: hidden;
        /* NO AFFECT AFTER ADDING*/
        -moz-column-gap: 20px;
        column-gap: 20px;
        line-height: 4px;
        padding: 12px;
    }
}