/* Dev Code */
html,
body {
    place-items: center;
    padding: 0;
    margin: 0;
    background: #fff;
    height: 100vh;
    width: 100vw;
}

#root {
    max-width: 3840px;
    max-height: 2160px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: -webkit-filter 300ms;
    transition: filter 300ms;
    transition: filter 300ms, -webkit-filter 300ms;
}

.logo:hover {
    -webkit-filter: drop-shadow(0 0 2em #646cffd6);
            filter: drop-shadow(0 0 2em #646cffcb);
}

.logo.react:hover {
    -webkit-filter: drop-shadow(0 0 2em #4cd0f4bf);
            filter: drop-shadow(0 0 2em #61dafbc4);
}

@-webkit-keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        -webkit-animation: logo-spin infinite 20s linear;
                animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 1em;
}

.read-the-docs {
    color: #888;
}