.layout {
    min-height: 100vh;
    /* width: 100vw; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    direction: rtl;
    padding: 8px 0px 8px;
}

.headerRow {
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    justify-items: stretch;
}

.headerCol {
    margin-right: 8px;
    align-items: center;
}

.loginName {
    margin-left: 8px;
    font-size: 18px;
    color: #fff;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.footer {
    text-align: center;
    padding: 2px;
    background: #001529;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}

.content {
    padding: 4px;
    background: transparent;
    min-height: calc(100vh - 200px);
    /* Adjust this based on the height of the header and footer */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1px;
    margin-top: 1px;
}

.sectionCard,
.summaryCard {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    padding: 10px 0;
    justify-content: space-between;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-size: 24px;
}

.balanceInfo,
.summaryInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.currentBalance {
    margin-top: 10px;
    text-align: center;
}

.totalCurrentExpenses {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.totalCurrentBalance {
    height: 50px;
    /* min-height: calc(4vh - 14px);
    max-height: calc(8vh - 120px); */
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    /* margin-top: 2px;
    margin-bottom: 2px; */
    text-align: center;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 200;
    font-size: 10px;
    margin: 2px 0 2px;
}

.totalBalance {
    /* height: 100px; */
    min-height: calc(4vh - 14px);
    max-height: calc(12vh - 110px);
    background: rgba(255, 255, 255, 0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    text-align: center;
    border-radius: 28px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);/* Subtle shadow for depth */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 400;
    padding: 20px;
    font-size: 10px;
    margin: 2px 0;
    color: #ffffff; /* White text color */
    box-sizing: border-box;
}

.incomeAmount {
    background: rgba(255, 255, 255, 0.2);
    min-height: calc(4vh - 14px);
    max-height: calc(12vh - 110px);
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    text-align: center;
    border-radius: 28px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 400;
    font-size: 10px;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    padding: 20px;
    margin: 2px 0;
    color: #ffffff; /* White text color */
    box-sizing: border-box;
}

.expensesAmount {
    background: rgba(255, 255, 255, 0.2);
    min-height: calc(4vh - 14px);
    max-height: calc(12vh - 110px);
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    text-align: center;
    border-radius: 28px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 400;
    font-size: 10px;
    margin: 2px 0;
    color: #ffffff; /* White text color */
    box-sizing: border-box;
}

.incomeAmount p {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex-center;
    flex-direction: row;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: space-between;
    /* Adjust font size */
    color: rgb(24, 124, 224);
}

.totalBalance p {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex-center;
    flex-direction: row;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: space-between;
    /* Adjust font size */
    color: rgb(39, 174, 89);
}

.expensesAmount p {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex-center;
    flex-direction: row;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: space-between;
    /* Adjust font size */
    color: rgb(224, 54, 28);
}

.financialNumber {
    direction: ltr;
    unicode-bidi: bidi-override;
    color: rgb(248, 245, 245);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f52f6e2a;
    margin: 8px;
    border-radius: 28px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    padding: 20px;
    justify-content: space-between;
    flex-grow: 1;
    color: #ffffff; /* White text color */
    box-sizing: border-box;
}

.cardAccountBalance {
    height: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 28px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    padding: 20px;
    overflow: hidden;
    justify-content: center;
    flex-grow: 1;
    font-size: 18px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 400;
    align-items: center;
    color: #ffffff; /* White text color */
    box-sizing: border-box;
}

.cardAccountBalance p {
    font-size: 24px;
    align-items: center;
    position: relative;
    display: flex-center;
    font-family: 'Noto Sans Hebrew', sans-serif;
    margin: 0;
}

.cardTotalBalance {
    min-height: calc(8vh - 140px);
    max-height: calc(16vh - 140px);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent !important;
    margin: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 28px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    flex-grow: 1;
    font-size: 20px;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.card .ant-card-head {
    border-bottom: none;
    padding: 0 0 16px 0;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.card .ant-card-body {
    padding: 0;
    flex-grow: 1;
}

.card .ant-card-head-title {
    font-size: 20px;
    font-weight: bold;
    color: #f2f0f0;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.card .ant-card-body>* {
    margin-bottom: 6px;
}

.card .ant-card-body>*:last-child {
    margin-bottom: 0;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rowGutter {
    height: 10px;
    margin: 2px 0;
    padding: 0;
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    position: relative;
    margin-bottom: 14px;
}

.columnGeneral {
    min-height: calc(20vh - 40px);
    max-height: calc(80vh - 120px);
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    overflow-x: hidden;
    font-family: 'Noto Sans Hebrew', sans-serif !important;
}   /* align-items: center; */
    /* justify-content: center; */


.columnBottom {
    min-height: 35px;
    max-height: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Noto Sans Hebrew', sans-serif !important;
}

.buttonCalculate {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    /* margin: 0 10px; */
    background: rgba(255, 255, 255, 0.065);
    /* position: relative; */
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* Blur effect for Safari */
    border: 2px solid rgba(245, 242, 242, 0.3);
    font-weight: 400;
    /* padding: 10px; */
    box-sizing: border-box;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('/fonts/NotoSans/static/NotoSansHebrew-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Hebrew';
    src: url('/fonts/NotoSans/static/NotoSansHebrew-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Noto Sans Hebrew', sans-serif;
}

/* Media Queries for Responsiveness */
@media (min-width: 375px) {}

@media (min-width: 390px) {}

@media (min-width: 414px) {}

@media (min-width: 576px) and (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 400;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 20px;
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Position the header at the top */
        width: 100%;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(30vh - 80px);
        max-height: calc(75vh - 90px);
        width: 40vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        padding: 12px;
        margin: 10px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 400;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 20px;
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Position the header at the top */
        width: 100%;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(30vh - 80px);
        max-height: calc(75vh - 90px);
        width: 40vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        padding: 12px;
        margin: 10px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {

    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 400;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 20px;
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Position the header at the top */
        width: 100%;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(30vh - 80px);
        max-height: calc(75vh - 90px);
        width: 40vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        padding: 12px;
        margin: 10px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
}

@media (min-width: 1281px) and (max-width: 1365px) {

    .header {
        display: flex;
        flex-direction: row;
        background: transparent;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 28px;
        font-weight: 400;
        overflow: hidden;
        margin: 2px 0;
        margin-top: 14px;
        margin-bottom: 10px;
        line-height: 20px;
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Position the header at the top */
        width: 100%;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
    }

    .content {
        display: flex;
        flex: 1;
        min-height: calc(30vh - 80px);
        max-height: calc(75vh - 90px);
        width: 40vw;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: center;
        padding: 10px;
        margin: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .card {
        /* max-width: 20px; */
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        /* Allow cards to take up full width */
        min-height: 50vh;
        max-height: -moz-fit-content;
        max-height: -webkit-fit-content;
        max-height: fit-content;
        background: rgba(255, 255, 255, 0.2);
        /* margin-bottom: 1rem; */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        /* Subtle shadow for depth */
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(255, 255, 255, 0.3);
        /* Semi-transparent border */
        padding: 8px;
        margin: 6px;
        /* Margin around the card */
        flex-grow: 1;
        /* Allow cards to grow and take up space */
        /* overflow-x: auto; */
        color: #ffffff;
        /* White text color */
        box-sizing: border-box;
    }

    p {
        color: rgba(255, 255, 255);
        font-size: 14px;
    }

    button {
        margin-top: 20px;
        font-size: 18px;
    }

    .form {
        max-width: 680px;
        margin: 0 auto;
        padding: 10px;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        /* position: relative; */
        /* NO AFFECT AFTER ADDING*/
        justify-content: space-between;
        justify-items: flex-start;
        justify-self: stretch;
        gap: 0.5rem;
        text-align: flex-start;
        overflow: hidden;
        /* NO AFFECT AFTER ADDING*/
        -moz-column-gap: 10px;
        column-gap: 10px;
        line-height: 4px;
        padding: 8px;
        font-size: 10px;
    }
}

@media (min-width: 1366px) and (max-width: 1420px) {
    .header {
        display: flex;
        width: 95vw;
        flex-direction: row;
        background: transparent;
        color: white;
        align-items: center;
        /* align-content: center; */
        justify-items: center;
        justify-content: space-evenly;
        padding: 8px;
        overflow: hidden;
        margin: 4px 0;
        margin-top: 4px;
        margin-bottom: 4px;
        /* line-height: 10px; */
        /* gap: 1%; */
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
    }
    
    .loginName {
        margin-left: 8px;
        font-size: 14px;
        color: #fff;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
    
    .content {
        display: flex;
        padding: 4px;
        background: transparent;
        min-height: calc(80vh - 5px);
        max-height: calc(85vh - 5px);
        height: 85vh;
        width: 95vw;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    
    .balanceInfo,
    .summaryInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .totalCurrentBalance {
        height: 10vh;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
        /* margin-top: 2px;
        margin-bottom: 2px; */
        text-align: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 200;
        font-size: 10px;
        margin: 2px 0 2px;
    }
    
    .totalBalance, .incomeAmount, .expensesAmount {
        min-height: 30px;
        max-height: 35px;
        height: 35px;
        background: rgba(255, 255, 255, 0.2);
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        font-weight: 400;
        padding: 8px;
        margin: 0 auto;
        color: #ffffff;
        box-sizing: border-box;
    }

    .incomeAmount p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 14px;
        justify-content: space-between;
        color: rgb(24, 124, 224);
    }

    .totalBalance p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 14px;
        justify-content: space-between;
        /* Adjust font size */
        color: rgb(39, 174, 89);
    }

    .expensesAmount p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 14px;
        justify-content: space-between;
        /* Adjust font size */
        color: rgb(224, 54, 28);
    }

    .financialNumber {
        direction: ltr;
        unicode-bidi: bidi-override;
        color: rgb(248, 245, 245);
        font-size: 16px;
        font-weight: 400;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }

    .card {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 8px;
        width: 22vw;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 24px;
        font-weight: 400;
        justify-content: start;
        flex-grow: 1;
        box-sizing: border-box;
    }

    .cardAccountBalance {
        height: 5vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        background: rgba(230, 13, 118, 0.2);
        margin: 4px;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        overflow: hidden;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
        box-sizing: border-box;
    }

    .cardAccountBalance p {
        display: flex;
        height: 4vh;
        height: 5vh;
        height: 5vh;
        align-items: center;
        font-size: 14px;
        display: flex-center;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }

    .columnGeneral {
        display: flex;
        min-height: calc(70vh - 30px);
        max-height: calc(75vh - 40px);
        height: 75vh;
        margin-bottom: 8px;
        flex-direction: column;
        position: relative;
        overflow-x: hidden;
        font-family: 'Noto Sans Hebrew', sans-serif !important;
    }

    .buttonCalculate {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        /* margin: 0 10px; */
        background: rgba(26, 138, 208, 0.88);
        /* position: relative; */
        text-align: center;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(245, 242, 242, 0.3);
        font-weight: 400;
        /* padding: 10px; */
        box-sizing: border-box;
    }
}

@media (min-width: 1367px) and (max-width: 1599px) {
    .header {
        display: flex;
        width: 90vw;
        flex-direction: row;
        background: transparent;
        color: white;
        align-items: center;
        /* align-content: center; */
        justify-items: center;
        justify-content: space-between;
        padding: 28px;
        overflow: hidden;
        margin-top: 8px;
        margin-bottom: 8px;
        /* line-height: 10px; */
        /* gap: 1%; */
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
    }
        
    .loginName {
        margin-left: 8px;
        font-size: 14px;
        color: #fff;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
        
    .content {
        display: flex;
        padding: 4px;
        background: transparent;
        min-height: calc(80vh - 5px);
        max-height: calc(85vh - 5px);
        height: 85vh;
        width: 95vw;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 8px;
        margin-top: 8px;
    }
        
    .balanceInfo,
    .summaryInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        
    .totalCurrentBalance {
        height: 10vh;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
        /* margin-top: 2px;
        margin-bottom: 2px; */
        text-align: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 200;
        font-size: 10px;
        margin: 2px 0 2px;
    }
        
    .totalBalance,
    .incomeAmount,
    .expensesAmount {
        min-height: 30px;
        max-height: 35px;
        height: 35px;
        background: rgba(255, 255, 255, 0.2);
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        font-weight: 400;
        padding: 8px;
        margin: 0 auto;
        color: #ffffff;
        box-sizing: border-box;
    }
        
    .incomeAmount p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 14px;
        justify-content: space-between;
        color: rgb(24, 124, 224);
    }
        
    .totalBalance p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 14px;
        justify-content: space-between;
        /* Adjust font size */
        color: rgb(39, 174, 89);
    }
        
    .expensesAmount p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 14px;
        justify-content: space-between;
        /* Adjust font size */
        color: rgb(224, 54, 28);
    }
        
    .financialNumber {
        direction: ltr;
        unicode-bidi: bidi-override;
        color: rgb(248, 245, 245);
        font-size: 16px;
        font-weight: 400;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
        
    .card {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;
        margin: 8px;
        width: 22vw;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 24px;
        font-weight: 400;
        justify-content: start;
        flex-grow: 1;
        box-sizing: border-box;
    }
        
    .cardAccountBalance {
        height: 5vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        background: rgba(230, 13, 118, 0.2);
        margin: 8px;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        overflow: hidden;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
        box-sizing: border-box;
    }
        
    .cardAccountBalance p {
        display: flex;
        height: 4vh;
        height: 5vh;
        height: 5vh;
        align-items: center;
        font-size: 14px;
        display: flex-center;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
        
    .columnGeneral {
        display: flex;
        min-height: calc(70vh - 30px);
        max-height: calc(75vh - 40px);
        height: 75vh;
        margin-bottom: 8px;
        flex-direction: column;
        position: relative;
        overflow-x: hidden;
        font-family: 'Noto Sans Hebrew', sans-serif !important;
    }
        
    .buttonCalculate {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        /* margin: 0 10px; */
        background: rgba(26, 138, 208, 0.88);
        /* position: relative; */
        text-align: center;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(245, 242, 242, 0.3);
        font-weight: 400;
        /* padding: 10px; */
        box-sizing: border-box;
    }
}

@media (min-width: 1600px) and (max-width: 1920px) {
    .header {
        display: flex;
        width: 95vw;
        flex-direction: row;
        background: transparent;
        color: white;
        align-items: center;
        /* align-content: center; */
        justify-items: center;
        justify-content: space-between;
        padding: 32px;
        overflow: hidden;
        margin-top: 12px;
        margin-bottom: 12px;
        /* line-height: 10px; */
        /* gap: 1%; */
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
    }
        
    .loginName {
        margin-left: 8px;
        font-size: 14px;
        color: #fff;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
        
    .content {
        display: flex;
        padding: 4px;
        background: transparent;
        min-height: calc(80vh - 5px);
        max-height: calc(85vh - 5px);
        height: 85vh;
        width: 95vw;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 8px;
        margin-top: 8px;
    }
        
    .balanceInfo,
    .summaryInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        
    .totalCurrentBalance {
        height: 10vh;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
        /* margin-top: 2px;
        margin-bottom: 2px; */
        text-align: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 200;
        font-size: 10px;
        margin: 2px 0 2px;
    }
        
    .totalBalance,
    .incomeAmount,
    .expensesAmount {
        min-height: 40px;
        max-height: 45px;
        height: 45px;
        background: rgba(255, 255, 255, 0.2);
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        font-weight: 400;
        padding: 8px;
        margin: 0 auto;
        color: #ffffff;
        box-sizing: border-box;
    }
        
    .incomeAmount p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 16px;
        justify-content: space-between;
        color: rgb(24, 124, 224);
    }
        
    .totalBalance p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 16px;
        justify-content: space-between;
        /* Adjust font size */
        color: rgb(39, 174, 89);
    }
        
    .expensesAmount p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 16px;
        justify-content: space-between;
        /* Adjust font size */
        color: rgb(224, 54, 28);
    }
        
    .financialNumber {
        direction: ltr;
        unicode-bidi: bidi-override;
        color: rgb(248, 245, 245);
        font-size: 18px;
        font-weight: 400;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
        
    .card {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;
        /* background: rgba(13, 118, 230, 0.367); */
        margin: 8px;
        width: 22vw;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 24px;
        font-weight: 400;
        justify-content: start;
        flex-grow: 1;
        box-sizing: border-box;
    }
        
    .cardAccountBalance {
        height: 5vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        background: rgba(230, 13, 118, 0.2);
        margin: 8px;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        overflow: hidden;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
        box-sizing: border-box;
    }
        
    .cardAccountBalance p {
        display: flex;
        height: 4vh;
        height: 5vh;
        height: 5vh;
        align-items: center;
        font-size: 14px;
        display: flex-center;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
        
    .columnGeneral {
        display: flex;
        min-height: calc(70vh - 30px);
        max-height: calc(75vh - 40px);
        height: 75vh;
        margin-bottom: 8px;
        flex-direction: column;
        position: relative;
        overflow-x: hidden;
        font-family: 'Noto Sans Hebrew', sans-serif !important;
    }
        
    .buttonCalculate {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        /* margin: 0 10px; */
        background: rgba(26, 138, 208, 0.88);
        /* position: relative; */
        text-align: center;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(245, 242, 242, 0.3);
        font-weight: 400;
        /* padding: 10px; */
        box-sizing: border-box;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .header {
        display: flex;
        width: 95vw;
        flex-direction: row;
        background: transparent;
        color: white;
        align-items: center;
        /* align-content: center; */
        justify-items: center;
        justify-content: space-between;
        padding: 44px;
        overflow: hidden;
        margin-top: 18px;
        margin-bottom: 18px;
        /* line-height: 10px; */
        /* gap: 1%; */
        position: absolute;
        /* Position the header absolutely */
        top: 0;
        /* Ensure the header spans the full width */
        z-index: 1000;
        /* Ensure the header stays on top of other content */
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
    }
        
    .loginName {
        margin-left: 14px;
        font-size: 18px;
        color: #fff;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
        
    .content {
        display: flex;
        padding: 4px;
        background: transparent;
        min-height: calc(80vh - 45px);
        max-height: calc(85vh - 45px);
        height: 85vh;
        width: 95vw;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 12px;
        margin-top: 12x;
    }
        
    .balanceInfo,
    .summaryInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        
    .totalCurrentBalance {
        height: 10vh;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
        /* margin-top: 2px;
        margin-bottom: 2px; */
        text-align: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 200;
        font-size: 10px;
        margin: 2px 0 2px;
    }
        
    .totalBalance,
    .incomeAmount,
    .expensesAmount {
        min-height: 60px;
        max-height: 65px;
        height: 65px;
        background: rgba(255, 255, 255, 0.2);
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        font-weight: 400;
        padding: 8px;
        margin: 0 auto;
        color: #ffffff;
        box-sizing: border-box;
    }
        
    .incomeAmount p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 20px;
        justify-content: space-between;
        color: rgb(24, 124, 224);
    }
        
    .totalBalance p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 20px;
        justify-content: space-between;
        /* Adjust font size */
        color: rgb(39, 174, 89);
    }
        
    .expensesAmount p {
        align-items: center;
        justify-content: center;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-weight: 400;
        font-size: 20px;
        justify-content: space-between;
        /* Adjust font size */
        color: rgb(224, 54, 28);
    }
        
    .financialNumber {
        direction: ltr;
        unicode-bidi: bidi-override;
        color: rgb(248, 245, 245);
        font-size: 20px;
        font-weight: 400;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
        
    .card {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;
        /* background: rgba(13, 118, 230, 0.367); */
        margin: 40px;
        width: 20vw;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-size: 24px;
        font-weight: 400;
        justify-content: start;
        flex-grow: 1;
        box-sizing: border-box;
    }
        
    .cardAccountBalance {
        height: 5vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        background: rgba(230, 13, 118, 0.2);
        margin: 8px;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        padding: 8px;
        overflow: hidden;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
        box-sizing: border-box;
    }
        
    .cardAccountBalance p {
        display: flex;
        height: 4vh;
        height: 5vh;
        height: 5vh;
        align-items: center;
        font-size: 20px;
        display: flex-center;
        font-family: 'Noto Sans Hebrew', sans-serif;
    }
        
    .columnGeneral {
        display: flex;
        min-height: calc(70vh - 45px);
        max-height: calc(75vh - 55px);
        height: 75vh;
        margin-bottom: 8px;
        flex-direction: column;
        position: relative;
        overflow-x: hidden;
        font-family: 'Noto Sans Hebrew', sans-serif !important;
    }
        
    .buttonCalculate {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-family: 'Noto Sans Hebrew', sans-serif;
        /* margin: 0 10px; */
        background: rgba(26, 138, 208, 0.88);
        /* position: relative; */
        text-align: center;
        border-radius: 28px;
        box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
        /* Blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* Blur effect for Safari */
        border: 2px solid rgba(245, 242, 242, 0.3);
        font-weight: 400;
        /* padding: 10px; */
        box-sizing: border-box;
    }
}

@media (min-width: 2561px) and (max-width: 3840px) {}

@media (min-width: 3840px) {}